In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"]=(20,10)

In [4]:
df=pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
df1=df.drop(['area_type','availability','society','balcony'],axis='columns')

In [6]:
df1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [8]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [9]:
#dropping na values since our dataset is quite large

In [10]:
df2=df1.dropna()

In [11]:
df2.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [12]:
df2['size_bhk']=df2['size'].apply(lambda x: int(x.split(' ')[0]))

C:\Users\padma\AppData\Local\Temp\ipykernel_16880\829999730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['size_bhk']=df2['size'].apply(lambda x: int(x.split(' ')[0]))

In [13]:
df2.head()

                   location       size total_sqft  bath   price  size_bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07         2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00         4
2               Uttarahalli      3 BHK       1440   2.0   62.00         3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00         3
4                  Kothanur      2 BHK       1200   2.0   51.00         2

In [16]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [17]:
def isfloat(x):
    try:
        float(x)
    except:
        return False
    return True

In [19]:
df2[~df2['total_sqft'].apply(isfloat)].head(10)

               location      total_sqft  bath    price  size_bhk
30            Yelahanka     2100 - 2850   4.0  186.000         4
122              Hebbal     3067 - 8156   4.0  477.000         4
137  8th Phase JP Nagar     1042 - 1105   2.0   54.005         2
165            Sarjapur     1145 - 1340   2.0   43.490         2
188            KR Puram     1015 - 1540   2.0   56.800         2
410             Kengeri  34.46Sq. Meter   1.0   18.500         1
549         Hennur Road     1195 - 1440   2.0   63.770         2
648             Arekere       4125Perch   9.0  265.000         9
661           Yelahanka     1120 - 1145   2.0   48.130         2
672        Bettahalsoor     3090 - 5002   4.0  445.000         4

In [34]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [35]:
df3=df2.copy()

In [37]:
df3['total_sqft']=df3['total_sqft'].apply(lambda x: convert_sqft_to_num(x))

In [38]:
df3.head()

                   location  total_sqft  bath   price  size_bhk
0  Electronic City Phase II      1056.0   2.0   39.07         2
1          Chikka Tirupathi      2600.0   5.0  120.00         4
2               Uttarahalli      1440.0   2.0   62.00         3
3        Lingadheeranahalli      1521.0   3.0   95.00         3
4                  Kothanur      1200.0   2.0   51.00         2

In [39]:
df4=df3.copy()
df4['price_per_sqft']=df4['price']*100000/df4['total_sqft']

In [40]:
df4.head()

,location,total_sqft,bath,price,size_bhk,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,1200.0,2.0,51.00,2,4250.000000

In [44]:
df4.location = df4.location.apply(lambda x: x.strip())
location_stats = df4['location'].value_counts(ascending=False)
location_stats

Whitefield                        535
Sarjapur  Road                    392
Electronic City                   304
Kanakpura Road                    266
Thanisandra                       236
                                 ...
Vasantapura main road               1
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Abshot Layout                       1
Name: location, Length: 1293, dtype: int64

In [48]:
location_stats_less_than_10=location_stats[location_stats<=10]
location_stats_less_than_10

Naganathapura                     10
Sadashiva Nagar                   10
Nagappa Reddy Layout              10
BTM 1st Stage                     10
Sector 1 HSR Layout               10
                                  ..
Vasantapura main road              1
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
Abshot Layout                      1
Name: location, Length: 1052, dtype: int64

In [49]:
df4.location=df4.location.apply(lambda x:'other' if x in location_stats_less_than_10 else x)

In [52]:
len(df4.location.unique())

242

In [56]:
df5 = df4[~(df4.total_sqft/df4.size_bhk<300)]
df5.shape

(12502, 6)

In [57]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df6 = remove_pps_outliers(df5)
df6.shape

(10241, 6)

In [59]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('size_bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('size_bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df7 = remove_bhk_outliers(df6)

df7.shape

(7329, 6)

In [60]:
df8 = df7[df7.bath<df7.size_bhk+2]

In [61]:
df9=df8.drop('price_per_sqft',axis='columns')

In [62]:
df9.head(2)

              location  total_sqft  bath  price  size_bhk
0  1st Block Jayanagar      2850.0   4.0  428.0         4
1  1st Block Jayanagar      1630.0   3.0  194.0         3

In [64]:
dummies=pd.get_dummies(df9.location)

In [67]:
df10=pd.concat([df9,dummies],axis='columns')

In [68]:
df10.head(2)

,location,total_sqft,bath,price,size_bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1st Block Jayanagar,2850.0,4.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
df11=df10.drop(['location','other'],axis='columns')

In [71]:
X=df11.drop('price',axis='columns')

In [72]:
Y=df11.price

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [75]:
from sklearn import linear_model

In [76]:
lr=linear_model.LinearRegression()

In [77]:
lr.fit(x_train,y_train)

LinearRegression()

In [78]:
lr.score(x_test,y_test)

0.8452277697874322

In [79]:
import pickle 
with open('bangalore_real_estate.pickle','wb') as f:
    pickle.dump(lr,f)

In [80]:
import json

In [82]:
columns={
    'data_col':[col.lower() for col in X.columns]
}
with open('columns.json','w') as f1:
    f1.write(json.dumps(columns))